---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/cep/v2/89010025
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Matched-Path:
      - "/api/cep/v2/[cep]"
      Etag:
      - W/"e7-BjkJ9ox4ogUYJe2Zfn0RakxHhxA"
      X-Vercel-Cache:
      - HIT
      X-Vercel-Id:
      - iad1::sfo1::mhhhn-1643617895074-a92c15b4ac33
    body:
      encoding: ASCII-8BIT
      string: '{"cep":"89010025","state":"SC","city":"Blumenau","neighborhood":"Centro","street":"Rua
        Doutor Luiz de Freitas Melro","service":"viacep","location":{"type":"Point","coordinates":{"longitude":"-49.0629788","latitude":"-26.9244749"}}}'
  recorded_at: Mon, 31 Jan 2022 08:30:43 GMT
recorded_with: VCR 6.0.0
